.DS_Store
Game Life/Game Life/Game Life.vcxproj
*.vsidx
Game Life/.vs/Game Life/v17/Browse.VC.db
Game Life/.vs/Game Life/v17/Browse.VC.db-shm
Game Life/.vs/Game Life/v17/Browse.VC.db-wal
Game Life/.vs/Game Life/v17/Browse.VC.opendb
Game Life/Game Life.sln
Game Life/Game Life/Game Life.vcxproj.filters
Game Life/Game Life/Game Life.vcxproj.user
*.ipch
Game Life/.vs/Game Life/v17/.suo
*.recipe
*.ilk
*.tlog
*.log
*.obj
*.pdb
*.exe
*.idb
